:root {
  font: 16px / 1 georgia;
}

html {
  height: 100%;
}

body {
margin: 0;
min-height: 100%;
background: url(images/stpete.jpg) no-repeat center fixed; 
background-size: 100% 100%;
text-align: center;
color: white;
}

.navbar {
  background-color: rgba(255, 0, 0, 0.486);
  height: 5rem;
  color: white;
  padding-top: .1rem;
  padding-bottom: 1rem;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: underline;
}

.navbar a:hover {
color:rgb(60, 199, 245);
text-decoration: underline;
}

.life {
  background-color: rgba(0, 60, 255, 0.486);
  font-size: 1rem;
  color: #ffffff;
  padding: 1%;
  margin-top: -.1rem;
  padding-left: 18rem;
  padding-right: 18rem;
}

.adventure {
  opacity: .7;
  border-radius: 50%;
}

footer {
  bottom: 0;
  position: fixed;
  /* position: relative; */
  
}
